/* Modifiable parameters */
$width: 5%;
$height: 5%;
$min-height: 10px;
$spacing: $height + $height / 2;
$offset: $width / 2;
$grid-columns: 7;

/* Rules for arranging elements */
div {
  background-color: black;
  position: absolute; 
}

/* Calculate spacing and color/ color-inversion */
@for $i from 1 through $grid-columns {
  $color: rgb($i * 40, $i * 80, $i * 10);
   .el-#{$i} {
      height: $height;
      min-height: $min-height;
      top: $spacing * $i;
      background-color: $color;
      border:5px solid invert($color);
  }
  .el-#{$i}:hover {
      background-color: invert($color);
      border:5px solid $color;
      cursor:pointer;
  }
}

@for $i from 1 through $grid-columns {
  $max-width: 4;
   .el-#{$i} {
      width: $width * ($max-width - 1);
  }
}

.el-1 {
  width: $width * 4;
  left: $offset;
}

.el-2 {
  width: $width * 3;
  left: $width * 4 + $offset * 2;
}

.el-3 {
  width: $width * 2;
  left: $width * 7 + $offset * 3;
}

.el-4 {
  width: $width;
  left: $width * 9 + $offset * 4;
}

.el-5 {
  width: $width * 2;
  left: $width * 7 + $offset * 3;
}

.el-6 {
  width: $width * 3;
  left: $width * 4 + $offset * 2;
}

.el-7 {
  width: $width * 4;
  left: $offset;
}