/* Modifiable parameters */
$width: 60px;
$height: 30px;
$spacing: $height + $height / 2;
$offset: $width / 2;

/* Rules for arranging elements */
div {
  background-color: black;
  position: absolute; 
}

.el-1 {
  width: $width * 4;
  height: $height;
  top: $spacing;
  left: $offset;
}

.el-2 {
  width: $width * 3;
  height: $height;
  top: $spacing * 2;
  left: $width * 4 + $offset * 2;
}

.el-3 {
  width: $width;
  height: $height;
  top: $spacing * 3;
  left: $width * 7 + $offset * 3;
}

.el-4 {
  width: $width / 2;
  height: $height;
  top: $spacing * 4;
  left: $width * 8 + $offset * 4;
}

.el-5 {
  width: $width;
  height: $height;
  top: $spacing * 5;
  left: $width * 7 + $offset * 3;
}

.el-6 {
  width: $width * 3;
  height: $height;
  top: $spacing * 6;
  left: $width * 4 + $offset * 2;
}

.el-7 {
  width: $width * 4;
  height: $height;
  top: $spacing * 7;
  left: $offset;
}